</head>
<body>
  <nav>
		<i class="fas fa-film fa-2x"></i>
    <a 
      href="/flights/new" 
      <%- title === 'Add Flights' ? 'class="active"' : '' %>
    >
      ADD FLIGHT
    </a>
    <a 
      href="/flights" 
      <%- title === 'All Flights' ? 'class="active"' : '' %>
    >
      ALL FLIGHTS
    </a>
    <a 
      href="/meals/new" 
      <%- title === 'Add Meals' ? 'class="active"' : '' %>
    >
      ADD MEALS
    </a>
  </nav>